<div id="<%= dom_id administrator %>">
  <tr>
    <td><%= administrator.name %></td>
    <td><%= administrator.email %></td>
    <td> <%= administrator.password %></td>
    <td><%= link_to "Detalhes", administrator, class: "btn-default" %></td>
  </tr>
</div>
