<div class="box-content-modal">

  <%= form_with(model: administrator) do |form| %>
  <% if administrator.errors.any? %>
      <div style="color: red">
        <%= pluralize(administrator.errors.count, "error") %> prohibited this administrator from being saved:
        <ul>
          <% administrator.errors.each do |error| %>
          <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-component">
      <%= form.label :name, style: "display: block" %>
      <div class="form-input">
        <%= form.text_field :name %>
      </div>
    </div>
    <div class="form-component">
      <%= form.label :email, style: "display: block" %>
      <div class="form-input">
        <%= form.text_field :email %>
      </div>
    </div>
    <div class="form-component">
      <%= form.label :password, style: "display: block" %>
      <div class="form-input">
       <%= form.text_field :password %>
      </div>
    </div>
    <div class="box-link">
      <%= form.submit :salvar, class: "btn-default" %>
<% end %>
      <%= button_to "Cancelar", @administrator,method: :get, class: "btn-default" %>
    </div>
</div>